lib/libpsyc.a
doc/html
doc/latex
doc/man
d/doc/html
d/doc/latex
d/doc/man
src/match
test/testMatch
test/testParser
test/testRender
test/testPsyc
test/testPsycFast
test/testText
test/isRoutingVar
test/getVarType

.config
~$*
.DS_Store
.metadata
.#*
*~
\#*
*.a
*.o
*.swf
*.swp
*.rej
*.log
*.pem
*old
*bak
*diff
*orig
