lib/libpsyc.a
lib/libpsyc.so
doc/html
doc/latex
doc/man
d/doc/html
d/doc/latex
d/doc/man
src/match
test/testMatch
test/testParser
test/testRender
test/testPsyc
test/testPsycSpeed
test/testJson
test/testJsonGlib
test/testStrlen
test/testText
test/isRoutingVar
test/getVarType
test/parseUniform

perl/*.c
perl/*.so
perl/*.pm

python/*.c
python/*.so
python/*.py

.config
~$*
.DS_Store
.metadata
.#*
*~
\#*
*.a
*.o
*.swf
*.swp
*.rej
*.log
*.pem
*old
*bak
*diff
*orig
