lib/libpsyc.a
lib/libpsyc.so
doc/html
doc/latex
doc/man
d/doc/html
d/doc/latex
d/doc/man
src/match
test/test_list
test/test_match
test/test_parser
test/test_render
test/test_psyc
test/test_psyc_speed
test/test_json
test/test_json_glib
test/test_strlen
test/test_text
test/var_is_routing
test/var_type
test/uniform_parse

perl/*.c
perl/*.so
perl/*.pm

python/*.c
python/*.so
python/*.py

.config
~$*
.DS_Store
.metadata
.#*
*~
\#*
*.a
*.o
*.swf
*.swp
*.rej
*.log
*.pem
*.old
*.bak
*.orig
*.diff
*.patch
